In [2]:
import pandas as pd

In [4]:
fdny_dataset = pd.read_csv('../Datasets/Fdny/archive/fdny-firehouse-listing.csv')
fdny_dataset.shape

(218, 12)

In [6]:
fdny_dataset.columns

Index(['FacilityName', 'FacilityAddress', 'Borough', 'Postcode', 'Latitude',
       'Longitude', 'Community Board', 'Community Council ', 'Census Tract',
       'BIN', 'BBL', 'NTA'],
      dtype='object')

In [14]:
fdny_dataset.head()

,FacilityName,FacilityAddress,Borough,Postcode,Latitude,Longitude,Community Board,Community Council,Census Tract,BIN,BBL,NTA
0,Engine 4/Ladder 15,42 South Street,Manhattan,10005.0,40.703466,-74.007538,1.0,1.0,7.0,1000867.0,1.000350e+09,Battery Park City-Lower Manhattan ...
1,Engine 10/Ladder 10,124 Liberty Street,Manhattan,10006.0,40.710072,-74.012523,1.0,1.0,13.0,1075700.0,1.000520e+09,Battery Park City-Lower Manhattan ...
2,Engine 6,49 Beekman Street,Manhattan,10038.0,40.710048,-74.005245,1.0,1.0,1501.0,1001287.0,1.000930e+09,Battery Park City-Lower Manhattan ...
3,Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...,100-104 Duane Street,Manhattan,10007.0,40.715463,-74.005938,1.0,1.0,33.0,1001647.0,1.001500e+09,SoHo-TriBeCa-Civic Center-Little Italy ...
4,Ladder 8,14 North Moore Street,Manhattan,10013.0,40.719759,-74.006678,1.0,1.0,33.0,1002150.0,1.001890e+09,SoHo-TriBeCa-Civic Center-Little Italy ...

In [10]:
fdny_dataset.groupby('FacilityAddress').size()

FacilityAddress
10-40 47th Avenue                       1
100-104 Duane Street                    1
101-02 Jamaica Avenue                   1
103-17 98th Street                      1
104-12 Princeton Street                 1
                                       ..
97-28 43rd Avenue                       1
998 Liberty Avenue                      1
Building 292 Brooklyn Navy Yard         1
Little West 12th Street/Hudson River    1
Saint George Ferry Terminal             1
Length: 218, dtype: int64

Below is the number of fire department facilities in each borough

In [13]:
fdny_dataset.groupby('Borough').size()

Borough
Bronx            34
Brooklyn         66
Manhattan        48
Queens           50
Staten Island    20
dtype: int64

Below are the facilities in Manhattan

In [21]:
manhattan = fdny_dataset.groupby('Borough').get_group('Manhattan')
manhattan.groupby('FacilityName').size()

FacilityName
Engine 1/Ladder 24                                         1
Engine 10/Ladder 10                                        1
Engine 14                                                  1
Engine 15/Ladder 18/Battalion 4                            1
Engine 16 / Ladder 7                                       1
Engine 21                                                  1
Engine 22/Ladder 13/Battalion 10                           1
Engine 23                                                  1
Engine 24/Ladder 5/Battalion 2                             1
Engine 26                                                  1
Engine 28/Ladder 11                                        1
Engine 3/Ladder 12/Battalion 7                             1
Engine 33/Ladder 9                                         1
Engine 34/Ladder 21                                        1
Engine 35/Ladder 14                                        1
Engine 37/Ladder 40                                        1
Engine 39/Ladder 16                                        1
Engine 4/Ladder 15                                         1
Engine 40/Ladder 35                                        1
Engine 44                                                  1
Engine 47                                                  1
Engine 5                                                   1
Engine 53/Ladder 43                                        1
Engine 54/Ladder 4/Battalion 9                             1
Engine 55                                                  1
Engine 58/Ladder 26                                        1
Engine 59/Ladder 30                                        1
Engine 6                                                   1
Engine 65                                                  1
Engine 67                                                  1
Engine 69/Ladder 28/Battalion 16                           1
Engine 7/Ladder 1/Battalion 1/Manhattan Borough Command    1
Engine 74                                                  1
Engine 76/Ladder 22/Battalion 11                           1
Engine 8 / Ladder 2 / Battalion 8                          1
Engine 80/Ladder 23                                        1
Engine 84/Ladder 34                                        1
Engine 9/Ladder 6                                          1
Engine 91                                                  1
Engine 93/Ladder 45/Battalion 13                           1
Engine 95/Ladder 36                                        1
Ladder 20/Division 1                                       1
Ladder 25/District Office 4/Division 3                     1
Ladder 3/Battalion 6                                       1
Ladder 8                                                   1
Marine 1                                                   1
Rescue 1                                                   1
Squad 18                                                   1
dtype: int64