In [11]:
import pandas as pd
import numpy as np

In [12]:
#index column is the index of the dataset
dataset = pd.read_csv('../../Datasets/Ads cost and sales res/Advertising Budget and Sales.csv',index_col=0)
dataset.head()

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)  Sales ($)
1             230.1                 37.8                     69.2       22.1
2              44.5                 39.3                     45.1       10.4
3              17.2                 45.9                     69.3        9.3
4             151.5                 41.3                     58.5       18.5
5             180.8                 10.8                     58.4       12.9

In [13]:
dataset.columns

Index(['TV Ad Budget ($)', 'Radio Ad Budget ($)', 'Newspaper Ad Budget ($)',
       'Sales ($)'],
      dtype='object')

In [14]:
dataset.shape

(200, 4)

In [15]:
dataset.size

800

In [16]:
x_feature = dataset[['TV Ad Budget ($)','Radio Ad Budget ($)', 'Newspaper Ad Budget ($)']]
x_feature

     TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)
1               230.1                 37.8                     69.2
2                44.5                 39.3                     45.1
3                17.2                 45.9                     69.3
4               151.5                 41.3                     58.5
5               180.8                 10.8                     58.4
..                ...                  ...                      ...
196              38.2                  3.7                     13.8
197              94.2                  4.9                      8.1
198             177.0                  9.3                      6.4
199             283.6                 42.0                     66.2
200             232.1                  8.6                      8.7

[200 rows x 3 columns]

In [17]:
y_target= dataset[['Sales ($)']]
y_target

     Sales ($)
1         22.1
2         10.4
3          9.3
4         18.5
5         12.9
..         ...
196        7.6
197        9.7
198       12.8
199       25.5
200       13.4

[200 rows x 1 columns]

In [18]:
#fyi sklearn.cross_validation has been depercated
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x_feature, y_target)

print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(150, 3)
(50, 3)
(150, 1)
(50, 1)

In [19]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,r2_score
#creating a linear regression object
regr = LinearRegression()
#training the model
regr.fit(x_train, y_train)
#making predictions 
regr_predictions = regr.predict(x_test)
#the coefficients 
print('Coefficients: ',regr.coef_)
# mean squared error is used to see the accuracy of prediction
print("Mean squared error: %.2f" % np.sqrt(mean_squared_error(y_test, regr_predictions)))
# The coefficient of determination: 1 is perfect prediction
print("Coefficient of determination: %.2f" % r2_score(y_test, regr_predictions))

print(y_test)
#print("Test values: {}, Predictions: {}".format(y_test, regr_predictions))

Coefficients:  [[0.04486862 0.19265443 0.00531975]]
Mean squared error: 1.75
Coefficient of determination: 0.88
     Sales ($)
49        14.8
25         9.7
99        25.4
50         9.7
143       20.1
116       12.6
135       10.8
53        22.6
155       15.6
69        18.9
55        20.2
194       19.6
144       10.4
31        21.4
93        19.4
178       11.7
32        11.9
88        16.0
103       14.8
133        5.7
3          9.3
196        7.6
141       10.9
110       19.8
48        23.2
174       11.7
154       19.0
193        5.9
76         8.7
171        8.4
173        7.6
120        6.6
6          7.2
134       19.6
79         5.3
27        15.0
78        14.2
124       15.2
5         12.9
19        11.3
34        17.4
111       13.4
63        15.7
109        5.3
185       17.6
132       12.7
191       10.8
22        12.5
2         10.4
20        14.6

In [20]:
print(regr_predictions)

[[16.38665929]
 [ 8.20322568]
 [24.30320613]
 [ 8.33464767]
 [19.37438968]
 [13.27600258]
 [12.32420198]
 [20.83703457]
 [15.42498637]
 [18.8914379 ]
 [20.30313151]
 [18.47783646]
 [ 8.85750066]
 [21.7070657 ]
 [19.41880053]
 [12.20971222]
 [11.50630998]
 [16.0080476 ]
 [17.5149531 ]
 [ 8.51138187]
 [12.86635058]
 [ 5.38332864]
 [ 9.52022023]
 [19.55422179]
 [21.74066959]
 [11.87492827]
 [18.41804343]
 [ 4.6128409 ]
 [12.53597716]
 [ 7.4592192 ]
 [ 7.72532818]
 [ 6.95466594]
 [13.09325317]
 [19.43908015]
 [ 8.93577712]
 [15.00664289]
 [13.85597386]
 [15.13824875]
 [13.38670102]
 [10.03478917]
 [18.65490345]
 [14.89477987]
 [16.75154698]
 [ 3.68413968]
 [18.53390099]
 [15.56971843]
 [12.6043756 ]
 [14.64247548]
 [12.69100678]
 [14.19830925]]

In [21]:
print(y_test)

     Sales ($)
49        14.8
25         9.7
99        25.4
50         9.7
143       20.1
116       12.6
135       10.8
53        22.6
155       15.6
69        18.9
55        20.2
194       19.6
144       10.4
31        21.4
93        19.4
178       11.7
32        11.9
88        16.0
103       14.8
133        5.7
3          9.3
196        7.6
141       10.9
110       19.8
48        23.2
174       11.7
154       19.0
193        5.9
76         8.7
171        8.4
173        7.6
120        6.6
6          7.2
134       19.6
79         5.3
27        15.0
78        14.2
124       15.2
5         12.9
19        11.3
34        17.4
111       13.4
63        15.7
109        5.3
185       17.6
132       12.7
191       10.8
22        12.5
2         10.4
20        14.6