In [2]:
import pandas as pd

In [4]:
fdny_dataset = pd.read_csv('../Datasets/Fdny/archive/fdny-firehouse-listing.csv')
fdny_dataset.shape

(218, 12)

In [6]:
fdny_dataset.columns

Index(['FacilityName', 'FacilityAddress', 'Borough', 'Postcode', 'Latitude',
       'Longitude', 'Community Board', 'Community Council ', 'Census Tract',
       'BIN', 'BBL', 'NTA'],
      dtype='object')

In [14]:
fdny_dataset.head()

,FacilityName,FacilityAddress,Borough,Postcode,Latitude,Longitude,Community Board,Community Council,Census Tract,BIN,BBL,NTA
0,Engine 4/Ladder 15,42 South Street,Manhattan,10005.0,40.703466,-74.007538,1.0,1.0,7.0,1000867.0,1.000350e+09,Battery Park City-Lower Manhattan ...
1,Engine 10/Ladder 10,124 Liberty Street,Manhattan,10006.0,40.710072,-74.012523,1.0,1.0,13.0,1075700.0,1.000520e+09,Battery Park City-Lower Manhattan ...
2,Engine 6,49 Beekman Street,Manhattan,10038.0,40.710048,-74.005245,1.0,1.0,1501.0,1001287.0,1.000930e+09,Battery Park City-Lower Manhattan ...
3,Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...,100-104 Duane Street,Manhattan,10007.0,40.715463,-74.005938,1.0,1.0,33.0,1001647.0,1.001500e+09,SoHo-TriBeCa-Civic Center-Little Italy ...
4,Ladder 8,14 North Moore Street,Manhattan,10013.0,40.719759,-74.006678,1.0,1.0,33.0,1002150.0,1.001890e+09,SoHo-TriBeCa-Civic Center-Little Italy ...

In [23]:
fdny_dataset.describe

<bound method NDFrame.describe of                                           FacilityName  \
0                                   Engine 4/Ladder 15
1                                  Engine 10/Ladder 10
2                                             Engine 6
3    Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...
4                                             Ladder 8
..                                                 ...
213                  Engine 162/Ladder 82/Battalion 23
214                               Engine 167/Ladder 87
215                               Engine 164/Ladder 84
216                          Engine 168/EMS Station 23
217                               Engine 151/Ladder 76

              FacilityAddress        Borough  Postcode   Latitude  Longitude  \
0             42 South Street      Manhattan   10005.0  40.703466 -74.007538
1          124 Liberty Street      Manhattan   10006.0  40.710072 -74.012523
2           49 Beekman Street      Manhattan   10038.0  40.710048 -74.005245
3        100-104 Duane Street      Manhattan   10007.0  40.715463 -74.005938
4       14 North Moore Street      Manhattan   10013.0  40.719759 -74.006678
..                        ...            ...       ...        ...        ...
213         256 Nelson Avenue  Staten Island   10308.0  40.543205 -74.147097
214         345 Annadale Road  Staten Island   10312.0  40.554174 -74.175809
215  1560 Drumgoole Road West  Staten Island   10312.0  40.535332 -74.195611
216     1100 Rossville Avenue  Staten Island   10309.0  40.553977 -74.212812
217           7219 Amboy Road  Staten Island   10307.0  40.512518 -74.238822

     Community Board  Community Council   Census Tract        BIN  \
0                1.0                 1.0           7.0  1000867.0
1                1.0                 1.0          13.0  1075700.0
2                1.0                 1.0        1501.0  1001287.0
3                1.0                 1.0          33.0  1001647.0
4                1.0                 1.0          33.0  1002150.0
..               ...                 ...           ...        ...
213              3.0                51.0       15601.0  5067428.0
214              3.0                51.0       17012.0  5075428.0
215              3.0                51.0       20804.0  5083491.0
216              3.0                51.0       20801.0  5154879.0
217              3.0                51.0         248.0  5089056.0

              BBL                                                NTA
0    1.000350e+09  Battery Park City-Lower Manhattan             ...
1    1.000520e+09  Battery Park City-Lower Manhattan             ...
2    1.000930e+09  Battery Park City-Lower Manhattan             ...
3    1.001500e+09  SoHo-TriBeCa-Civic Center-Little Italy        ...
4    1.001890e+09  SoHo-TriBeCa-Civic Center-Little Italy        ...
..            ...                                                ...
213  5.052710e+09  Great Kills                                   ...
214  5.056420e+09  Annadale-Huguenot-Prince's Bay-Eltingville    ...
215  5.068280e+09  Rossville-Woodrow                             ...
216  5.070670e+09  Rossville-Woodrow                             ...
217  5.080400e+09  Charleston-Richmond Valley-Tottenville        ...

[218 rows x 12 columns]>

Counting the number of fire department facilities

In [24]:
fdny_dataset.count()

FacilityName          218
FacilityAddress       218
Borough               218
Postcode              213
Latitude              213
Longitude             213
Community Board       213
Community Council     213
Census Tract          213
BIN                   213
BBL                   213
NTA                   213
dtype: int64

Another way to count but I recommend the above one

In [10]:
fdny_dataset.groupby('FacilityAddress').size()

FacilityAddress
10-40 47th Avenue                       1
100-104 Duane Street                    1
101-02 Jamaica Avenue                   1
103-17 98th Street                      1
104-12 Princeton Street                 1
                                       ..
97-28 43rd Avenue                       1
998 Liberty Avenue                      1
Building 292 Brooklyn Navy Yard         1
Little West 12th Street/Hudson River    1
Saint George Ferry Terminal             1
Length: 218, dtype: int64

Below is the number of fire department facilities in each borough

In [13]:
fdny_dataset.groupby('Borough').size()

Borough
Bronx            34
Brooklyn         66
Manhattan        48
Queens           50
Staten Island    20
dtype: int64

Below are the facilities in Manhattan

In [21]:
manhattan = fdny_dataset.groupby('Borough').get_group('Manhattan')
manhattan.groupby('FacilityName').size()

FacilityName
Engine 1/Ladder 24                                         1
Engine 10/Ladder 10                                        1
Engine 14                                                  1
Engine 15/Ladder 18/Battalion 4                            1
Engine 16 / Ladder 7                                       1
Engine 21                                                  1
Engine 22/Ladder 13/Battalion 10                           1
Engine 23                                                  1
Engine 24/Ladder 5/Battalion 2                             1
Engine 26                                                  1
Engine 28/Ladder 11                                        1
Engine 3/Ladder 12/Battalion 7                             1
Engine 33/Ladder 9                                         1
Engine 34/Ladder 21                                        1
Engine 35/Ladder 14                                        1
Engine 37/Ladder 40                                        1
Engine 39/Ladder 16                                        1
Engine 4/Ladder 15                                         1
Engine 40/Ladder 35                                        1
Engine 44                                                  1
Engine 47                                                  1
Engine 5                                                   1
Engine 53/Ladder 43                                        1
Engine 54/Ladder 4/Battalion 9                             1
Engine 55                                                  1
Engine 58/Ladder 26                                        1
Engine 59/Ladder 30                                        1
Engine 6                                                   1
Engine 65                                                  1
Engine 67                                                  1
Engine 69/Ladder 28/Battalion 16                           1
Engine 7/Ladder 1/Battalion 1/Manhattan Borough Command    1
Engine 74                                                  1
Engine 76/Ladder 22/Battalion 11                           1
Engine 8 / Ladder 2 / Battalion 8                          1
Engine 80/Ladder 23                                        1
Engine 84/Ladder 34                                        1
Engine 9/Ladder 6                                          1
Engine 91                                                  1
Engine 93/Ladder 45/Battalion 13                           1
Engine 95/Ladder 36                                        1
Ladder 20/Division 1                                       1
Ladder 25/District Office 4/Division 3                     1
Ladder 3/Battalion 6                                       1
Ladder 8                                                   1
Marine 1                                                   1
Rescue 1                                                   1
Squad 18                                                   1
dtype: int64